<p>
  second-component
</p>
<style>

.card1 {
  padding-left: 120px;
  }
  .button1{
    color: blue;
  }
</style>
<div>
<span *ngIf = "isavailable; then cardleft else cardRight">
</span>
<ng-template #cardleft>
    <button class = button1 (click) = "myClickFunctionatRight()">Switch to right card</button>
  <div class="card">
    <h3>Left Card</h3>
    <p>Some text</p>
    <p>Some text</p>
  </div>
</ng-template>
   <ng-template #cardRight>
      <button class = "button1" (click) = "myClickFunctionatLeft()">Switch to left card</button>
    <div class="card1">
      <h3>Right Card</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
    </ng-template>
</div>


